div {
  border: 1px solid red;
}

.header {
  height: 95px;
  display: flex;
}

.header-link {
  margin: auto;
}

.flex-row {
  display: flex;
}

.project {
  background-position: center;
  background-size: cover;
}

.project_beginner {
  width: 636px;
  height: 430px;
}

.project_music-album {
  background-image: url('https://code.s3.yandex.net/web-code/album.png');
}

.project_design-principles {
  background-image: url('https://code.s3.yandex.net/web-code/design.png');
}
