div {
  border: 1px solid red;
}

.header {
  height: 95px;
  display: flex;
}

.header-link {
  margin: auto;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 75px;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-row_reversed {
  flex-direction: row-reverse;
}

.flex-column,
.project_procrastinate {
  width: 636px;
  height: 557px;
}

.flex-column {
  display: flex;
  justify-content: space-between;
}

.flex-column_reversed {
  flex-direction: column-reverse;
}

.project {
  background-position: center;
  background-size: cover;
}

.project_beginner {
  width: 636px;
  height: 430px;
}

.project_music-album {
  background-image: url('https://code.s3.yandex.net/web-code/album.png');
}

.project_design-principles {
  background-image: url('https://code.s3.yandex.net/web-code/design.png');
}

.project-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project_p5 {
  width: 636px;
  height: 240px;
}

.flex-row_frameworks-inner {
  width: 636px;
  height: 290px;
}

.project_slider,
.project_reactive {
  width: 306px;
  height: 290px;
}

.project_slider {
  background-image: url('https://code.s3.yandex.net/web-code/slider.gif');
}

.project_reactive {
  background-image: url('https://code.s3.yandex.net/web-code/reactive.gif');
}

.project_vanilla {
  width: 306px;
  height: 290px;
}

.project_how-to-study {
  background-image: url('https://code.s3.yandex.net/web-code/how-to-study.png');
}

.project_across-russia {
  background-image: url('https://code.s3.yandex.net/web-code/across-russia.png');
}

.project_mesto {
  background-image: url('https://code.s3.yandex.net/web-code/mesto.png');
}
