@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserif.ttf)
      format('truetype');
  font-family: 'IBM Plex Serif';
  font-weight: normal;
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/ubuntu.woff2) format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/ubuntu.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/ubuntu.ttf) format('truetype');
  font-family: 'Ubuntu';
  font-weight: normal;
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/istokregular.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/istokregular.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/istokregular.ttf)
      format('truetype');
  font-family: 'Istok Web';
  font-weight: normal;
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.woff)
      format('woff'),
    url(https://pictures.s3.yandex.net/fonts/Ibmplexserifsemibold.ttf)
      format('truetype');
  font-family: 'IBM Plex Serif';
  font-weight: bold;
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/ubuntubold.woff2)
      format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/ubuntubold.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/ubuntubold.ttf) format('truetype');
  font-family: 'Ubuntu';
  font-weight: bold;
}

@font-face {
  src: url(https://pictures.s3.yandex.net/fonts/istokbold.woff2) format('woff2'),
    url(https://pictures.s3.yandex.net/fonts/istokbold.woff) format('woff'),
    url(https://pictures.s3.yandex.net/fonts/istokbold.ttf) format('truetype');
  font-family: 'Istok Web';
  font-weight: bold;
}
